@font-face {
  font-family: UnlightFont1;
  src: url('../fonts/nbr.ttf')format("truetype");
}
@font-face{
  font-family: UnlightFont2;
  src: url('../fonts/wt004.ttf')format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}
body {
  color: rgb(248, 248, 248);
  background-color: #343a40;
  letter-spacing: 0.07em;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgb(219,219,219);
}

.banner {
  display: block;
  text-align: center;
  margin: 10px 0;
  padding-left: 10px;
  font-size: 20pt;
  border: none;
}

.container {
  width: 950px;
  margin: auto;
  text-align: center;
}

.checker-area {
  width: 700px;
  display: inline-block;
  text-align: center;
  margin: 5px auto;
}

.level-filter {
  display: inline-block;
  width: 400px;
  height: 26px;
  vertical-align: middle;
  margin: 5px auto;
}

.check-box-filter {
  width: fit-content;
  height: 100%;
  display: inline-flex;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #666;
}

.check-box-filter li {
  height: 100%;
  text-align: center;
  border-right: 1px #666 solid;
}

.check-level-list li {
  width: 40px;
  font-family: UnlightFont1;
  font-size: 16pt;
  color: rgb(248, 248, 248);
}

.check-box-filter li:last-child {
  border-right: none;
}

.check-box-filter li label {
  cursor: pointer;
}

.check-box-filter label input[type="checkbox"] {
  display: none;
}

.check-box-filter input[type="checkbox"]+span {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 4px;
  user-select: none;
  opacity: 0.5;
}

.check-box-filter li input[type="checkbox"]:checked+span {
  opacity: 1;
  box-shadow: 0 0 1px 1px rgb(248, 248, 248);
}

.check-box-filter li:first-child input[type="checkbox"]:checked+span {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.check-box-filter li:last-child input[type="checkbox"]:checked+span {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slot-filter {
  width: 400px;
  height: 26px;
  display: inline-block;
  line-height: 26px;
  text-align: left;
  margin: 5px auto;
}

.slot-filter .checker-label {
  display: inline-block;
  width: 44px;
  height: 18px;
  margin: 0 5px;
  line-height: 1;
  vertical-align: middle;
  text-align: right;
  font-family: UnlightFont1;
  font-size: 16pt;
}

.btn-del-slot, .btn-add-slot {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 12px 0 13px;
  padding: 0;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  font-size: 12pt;
  font-weight: bolder;
  color: #343a40;
  border: none;
  background-color: rgb(248, 248, 248);
  border-radius: 50%;
}

.slot-filter-list {
  display: inline-block;
  width: fit-content;
  height: 26px;
  vertical-align: middle;
  box-shadow: 0 0 1px 1px #666;
  border-radius: 5px;
}

.slot-filter-list li {
  border-radius: 0;
  border-right: 1px #666 solid;
}

.slot-filter-list li:last-child {
  border-right: none;
}

.btn-change-slot {
  display: inline-block;
  width: 40px;
  height: 26px;
  padding: 0;
  text-align: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  user-select: none;
}

.btn-change-slot img{
  vertical-align: middle;
}

.cost-filter {
  width: 400px;
  height: 26px;
  display: inline-block;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  margin: 5px auto;
}

.cost-filter .checker-label {
  display: inline-block;
  width: 44px;
  height: 18px;
  margin: 0 5px;
  text-align: right;
  line-height: 1;
  vertical-align: middle;
  font-family: UnlightFont1;
  font-size: 16pt;
}

.cost-filter input[type="number"] {
  margin: 0 5px;
  width: 34px;
  height: 26px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px #666 solid;
  text-align: center;
  vertical-align: middle;
  font-family: UnlightFont1;
  font-size: 18pt;
  letter-spacing: 1px;
  color: rgb(248, 248, 248);
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.double-ranged-slider {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 238px;
  height: 4px;
  line-height: 26px;
  vertical-align: middle;
  background-color: rgb(248, 248, 248);
  border-radius: 2px;
}

.double-ranged-slider input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100%;
  outline: none;
  position:absolute;
  margin: -7px 0;
  line-height: 1;
  background-color: transparent;
  pointer-events: none;
}

.double-ranged-slider input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 20px;
}

.double-ranged-slider input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 20px;
}

.double-ranged-slider input[type="range"]::-ms-track {
  appearance: none;
  height: 20px;
}

.double-ranged-slider #min-cost::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.4em;
  height: 1.4em;
  background-color: brown;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

.double-ranged-slider #max-cost::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.4em;
  height: 1.4em;
  background-color: royalblue;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

.double-ranged-slider input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 1.4em;
  height: 1.4em;
  background-color: royalblue;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

.double-ranged-slider input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  width: 1.4em;
  height: 1.4em;
  background-color: royalblue;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

.double-ranged-slider #min-cost:active::-webkit-slider-thumb {
  background-color: rgb(255, 255, 255);
  border: 3px brown solid;
}

.double-ranged-slider #max-cost:active::-webkit-slider-thumb {
  background-color: rgb(255, 255, 255);
  border: 3px royalblue solid;
}

.result-area {
  width: 940px;
  text-align: center;
  margin: 5px auto;
}

.result-area h2 {
  text-align: center;
  font-size: 20pt;
  font-family: UnlightFont1;
  margin-bottom: 10px;
}

.result-area #result-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.result-area #result-list li{
  margin: 4px 3px;
  text-align: left;
  min-width: 64px;
  max-width: 88px;
}

.result-area #result-list li .chara-level{
  position: relative;
  text-align: right;
  margin-bottom: -22px;
  padding-right: 2px;
  font-family: UnlightFont1;
  font-size: 16pt;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  text-shadow:  -2px -2px 1px #000,
                2px -2px 1px #000,
                -2px 2px 1px #000,
                2px 2px 1px #000,
                0px 0px 4px #000;
}

.result-area #result-list li img{
  width: 100%;
  height: auto;
}

.result-area #result-list li
  #card-frame1,#card-frame2,#card-frame3,#card-frame4,#card-frame5 {
  border: 2px #ccc solid;
  border-radius: 2px;
}

.result-area #result-list li
  #card-frame6,#card-frame7,#card-frame8,#card-frame9,#card-frame0 {
  border: 2px rgb(236, 196, 62) solid;
  border-radius: 2px;
  background-color: rgb(139, 112, 14);
}

.result-area #result-list li .chara-slot{
  text-align: center;
  font-size: 11pt;
  letter-spacing: -2px;
  margin-top: -8px;
  margin-bottom: 8px;
  -webkit-text-stroke: 1px rgb(39, 39, 39);
  text-shadow:  1px 1px 1px rgb(192, 192, 192),
                1px -1px 1px rgb(192, 192, 192),
                -1px 1px 1px rgb(192, 192, 192),
                -1px -1px 1px rgb(192, 192, 192),
                0px -0px 2px rgb(192, 192, 192);
}

.result-area #result-list li .chara-cost{
  text-align: center;
  font-size: 20pt;
  font-family: UnlightFont1;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-shadow:  -2px -2px 1px #000,
                2px -2px 1px #000,
                -2px 2px 1px #000,
                2px 2px 1px #000,
                0px 0px 4px #000;
  margin-top: -14px;
  margin-bottom: 4px;
}

.white-star { color: #FFFFFF;}
.black-star { color: #000000;}
.red-star   { color: #D50000;}
.green-star { color: #00C853;}
.blue-star  { color: #1BA1E2;}
.yellow-star{ color: #FFD600;}
.purple-star{ color: #E040FB;}
.no-star    { margin-top:  4px;}

@media (max-width: 960px){
  .container {
    width: 100vw;
  }
  
  .checker-area {
    width: 100vw;
  }

  .result-area {
    width: 100vw;
  }
}

@media (max-width: 600px){
  .container {
    width: 500px;
  }
  
  .checker-area {
    width: 100%;
  }

  .result-area {
    width: 470px;
  }
}
